button {
    width: 10rem;
}

.card { 
    .img-container {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.15);
        img {
            width: 80%;
            @media(max-width: 1360px) {
                width: 100%;
            }
        }
    }
    &:hover {
        transform: translate(0px, -10px);
        transition: 0.5s ease;
    }
}