<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 col-md-4 col-lg-3 mb-base" *ngFor="let movie of movies">
            <div class="card">
                <div class="img-container">
                    <img [src]="movie.poster" alt="banner">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{movie.title }}</h5>
                    <span> {{movie.year}} | {{movie.length}} minutos</span>
                    <hr />
                    <div class="d-flex flex-column justify-content-between">
                        <p class="card-text">{{movie.plot | limitTo: 120 }}</p>
                        <div class="text-center">
                            <button (click)="evaluateMovie(movie)" class="btn btn-dark">Avaliar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button #modalButton type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#feedback" style="display: none;">
    Launch demo modal
  </button>

<app-feedback ></app-feedback>