<div class="container-fluid">
    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <img src="https://cdn.tlc-massive.com/shain/v1/dataservice/ResizeImage/$value?Format=%27jpg%27&Quality=85&ImageId=%27237619.jpg%27&ImageUrl=%27237619.jpg%27&EntityType=%27Item%27&EntityId=%2723572%27&device=web_browser&subscriptions=Subscriber&segmentationTags=GloboTvodMvp%2Cglobo&Width=360&Height=540"
                    alt="banner">
                <div class="card-body">
                    <h5 class="card-title">Invasão Zumbi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <div class="text-center">
                            <button routerLink="/pages/evaluetemovies/1" class="btn btn-primary">Avaliar</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
