<div class="modal fade" tabindex="-1" id="feedback" data-backdrop="static" role="dialog" aria-labelledby="feedbackLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-success text-white">
            <div class="modal-header">
                <h5 class="modal-title">Sucesso!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Sua avaliação foi enviada. Obrigado!</p>
            </div>
        </div>
    </div>
</div>